.footerIndex {
  width: 100%;
  background-color: #181d38;
  color: #fff;
  padding-top: 15px;
  display: grid;
}
.footerIndex a {
  color: #fff;
  text-decoration: none;
}
.footerIndex a:hover {
  opacity: 0.4;
}
.footerIndex section {
  margin: 20px;
}
.footerIndex .footerLinks {
  display: flex;
  justify-content: center;
  grid-column: 1;
}
.footerIndex .footerLinks ul li {
  font-family: "Nunito", sans-serif;
  list-style: none;
}
.footerIndex .social {
  font-family: "Heebo", sans-serif;
  text-align: center;
  grid-column: 2;
}
.footerIndex .social .contact-icons {
  font-size: 30px;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.footerIndex .social a {
  display: block;
}
.footerIndex .copyRight {
  text-align: center;
  font-family: "Heebo", sans-serif;
  grid-column: 1/3;
}

@media screen and (max-width: 372px) {
  .footerIndex {
    grid-template-columns: 1fr;
  }
  .footerIndex .footerLinks {
    grid-column: 1;
    display: flex;
    justify-content: center;
  }
  .footerIndex .footerLinks a {
    padding-left: 35px;
  }
  .footerIndex .social {
    grid-column: 1;
  }
  .footerIndex .copyRight {
    grid-column: 1;
  }
}
/* Service Start */
.service {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}
.service article {
  text-align: center;
  background-color: #FEF9E7;
  padding: 15px;
  border-radius: 10px;
}
.service article i {
  font-size: 40px;
  color: #FFB545;
}
.service article h4 {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  padding: 5px 0;
}
.service article p {
  font-family: "Heebo", sans-serif;
}

@media screen and (max-width: 872px) {
  .service {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 730px) {
  .service {
    grid-template-columns: 1fr;
  }
}
/* Service End */
.testimonialsContainer {
  display: flex;
  overflow: hidden;
}
.testimonialsContainer .testimonialsItems {
  min-width: 300px;
  max-width: 300px;
  height: 300px;
  margin: 2rem;
}
.testimonialsContainer .testimonialsItems:hover {
  transform: scale(1.2);
  transition: all 0.5s ease;
}
.testimonialsContainer .testimonialsItems img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.lighbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 2;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.lighbox .close {
  font-size: 1.25rem;
  margin: 1rem;
  border-radius: 5px;
}
.lighbox .close:hover {
  background-color: #181d38;
  color: #fff;
}
.lighbox .grande {
  border-radius: 10px;
  min-width: 300px;
}

.active {
  display: flex;
}

@font-face {
  font-family: "Tally Text Bold 1";
  src: url(../assets/Tally-Text-Bold-1.ttf);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::after,
*::before {
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Tally Text Bold 1", "Comic Sans", sans-serif;
  line-height: 1.5;
  color: #000;
  background-color: #fff;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  display: block;
}

/************* Clases utilitarias *************/
.none {
  display: none !important;
}

.is-active {
  opacity: 1 !important;
  pointer-events: auto !important;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 3rem 1rem;
}

/* Box shadow */
.shadows {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Subtitulos */
.subtitulo {
  font-size: calc(2rem + 3vw);
  font-family: "MS Madi", sans-serif;
  font-weight: bold;
  text-align: center;
  margin: 2rem auto;
  padding: 1rem;
  border-top: 2px solid #FFB545;
  border-bottom: 2px solid #FFB545;
  width: 100%;
}

/************* COMPONENTES *************/
/* Header */
.header-full {
  width: 100%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #181d38;
  color: #fff;
  padding: 0 1rem;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
}

.header {
  max-width: 1200px;
  height: 4rem;
  margin: 0 auto;
  width: 100%;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header a {
  text-decoration: none;
  color: inherit;
}
.header a:hover {
  color: rgba(255, 255, 255, 0.5);
}

.btn-header {
  outline: 2px solid #fff;
  border: none;
  background: none;
  cursor: pointer;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-header svg {
  fill: #fff;
}

.header-logo {
  font-size: 2rem;
  font-weight: bold;
}

.header-links {
  background-color: #181d38;
  position: fixed;
  left: 0;
  top: 4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}
.header-links a {
  font-size: 1.25rem;
  padding: 1rem;
  text-align: center;
  word-wrap: none;
}

@media screen and (min-width: 768px) {
  .btn-header {
    display: none;
  }

  .header-links {
    position: static;
    opacity: 1;
    pointer-events: auto;
    flex-direction: row;
    justify-content: flex-end;
    width: auto;
    height: 4rem;
  }
  .header-links a {
    display: flex;
    align-items: center;
  }
}
/* Botones */
.btn {
  text-decoration: none;
  padding: 0.5rem 1rem;
  background: #FFB545;
  color: #fff;
  border: none;
  border-radius: 2px;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}
.btn:hover {
  background: rgba(255, 181, 69, 0.5);
}

/* Hero */
.hero {
  width: 100%;
  background-image: url(../assets/hero-img.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.hero .hero-content {
  background-color: rgba(0, 0, 0, 0.5);
  min-height: calc(100vh - 4rem);
  padding: 2rem 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
}
.hero .hero-content h1 {
  font-size: calc(1.5rem + 3vw);
}
.hero .hero-content p {
  font-size: calc(1.125rem + 2vw);
  margin-bottom: 1rem;
  max-width: max(500px, 50%);
}

/************* Estilos del sitio **************/
/* SOBRE MI */
#acerca {
  background-color: #eee;
  width: 100%;
}
#acerca > .container {
  display: grid;
  align-items: center;
  min-height: 100vh;
}
#acerca .acerca-foto {
  width: 100%;
  height: auto;
  grid-row: 2/span 2;
}
#acerca .acerca-texto p {
  line-height: 1.5;
  font-size: 1.25rem;
  margin: 2rem 0;
}

@media screen and (min-width: 768px) {
  #acerca > .container {
    grid-template-columns: 50% 45%;
    justify-content: space-evenly;
  }

  .subtitulo {
    grid-column: span 2;
  }
}
/* Modalidad de trabajo */
.work {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.work article {
  background-color: #fef9e7;
  padding: 3rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
}
.work article > i {
  font-size: 2rem;
  color: #FFB545;
}
.work article > h4 {
  font-size: 1.5rem;
}
.work article > p {
  font-size: 1.125rem;
  line-height: 1.7;
}

@media screen and (min-width: 768px) {
  .work {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .work article {
    width: 45%;
  }
}
@media screen and (min-width: 992px) {
  .work {
    flex-wrap: nowrap;
  }
}
@media screen and (min-width: 768px) {
  #servicios .container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}
@media screen and (min-width: 992px) {
  #servicios .container {
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }

  .subtitulo {
    grid-column: span 4;
  }
}
/* Testimonios */
#testimonios {
  overflow: hidden;
}

.container-slider {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.slider {
  display: flex;
  width: 1400%;
  height: 400px;
  margin-left: -100%;
}

.slider-section {
  width: 100%;
}

.slider-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  color: #000;
  font: bold 25px monospace;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-btn:hover {
  background-color: #fff;
}

.slider-btn-left {
  left: 10px;
}

.slider-btn-right {
  right: 10px;
}

/*# sourceMappingURL=style.css.map */
