.footerIndex {
  width: 100%;
  background-color: #E9B26A;
  color: #000;
  padding-top: 15px;
  display: grid;
  grid-template-columns: 1fr 200px 200px 1fr;
}
.footerIndex a {
  color: #000;
  text-decoration: none;
}
.footerIndex a:hover {
  opacity: 0.4;
}
.footerIndex section {
  margin: 20px;
}
.footerIndex .footerLinks {
  display: flex;
  justify-content: center;
  grid-column: 1/2;
}
.footerIndex .footerLinks ul {
  margin-left: 0;
}
.footerIndex .footerLinks ul li {
  font-family: "Nunito", sans-serif;
  list-style: none;
  font-size: 20px;
}
.footerIndex .contact {
  font-family: "Heebo", sans-serif;
  text-align: center;
  grid-column: 2/4;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.footerIndex .contact h4 {
  font-size: 25px;
  font-family: "Tally Text Bold 1", "Comic Sans", sans-serif;
  padding-bottom: 15px;
}
.footerIndex .social {
  font-family: "Heebo", sans-serif;
  text-align: center;
  grid-column: 4/5;
}
.footerIndex .social .contact-icons {
  font-size: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.75rem;
}
.footerIndex .social a {
  display: block;
}
.footerIndex .copyRight {
  text-align: center;
  font-family: "Heebo", sans-serif;
  grid-column: 1/5;
}

@media screen and (max-width: 372px) {
  .footerIndex {
    grid-template-columns: 1fr;
  }
  .footerIndex .footerLinks {
    grid-column: 1;
    display: flex;
    justify-content: center;
  }
  .footerIndex .footerLinks a {
    padding-left: 35px;
  }
  .footerIndex .contact {
    grid-column: 1;
  }
  .footerIndex .social {
    grid-column: 1;
  }
  .footerIndex .copyRight {
    grid-column: 1;
  }
}
/* Service Start */
.service {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  padding: 1rem;
}
.service article {
  text-align: center;
  background-color: #FEF9E7;
  padding: 15px;
  border-radius: 10px;
}
.service article i {
  font-size: 40px;
  color: #E9B26A;
}
.service article h4 {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  padding: 5px 0;
}
.service article p {
  font-family: "Heebo", sans-serif;
}

@media screen and (max-width: 872px) {
  .service {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 730px) {
  .service {
    grid-template-columns: 1fr;
  }
}
/* Service End */
.container-slider {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-slider .container-testimonials {
  width: 400px;
  height: 250px;
  background-color: #fef9e7;
  margin: 20px;
  border-radius: 10px;
  padding: 15px;
}
.container-slider .container-testimonials .fa-quote-left {
  color: #E9B26A;
}
.container-slider .container-testimonials p {
  padding: 5px 10px 24px;
  text-align: center;
}
.container-slider .container-testimonials h6 {
  font-family: "Tally Text Bold 1", "Comic Sans", sans-serif;
  font-size: 20px;
}

/* Testimonios */
#testimonios {
  overflow: hidden;
  margin-bottom: 30px;
}
#testimonios .img-slider {
  display: flex;
  justify-content: center;
}

.container-slider {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.slider {
  display: flex;
  width: 1400%;
  height: 300px;
  margin-left: -100%;
}

.slider-section {
  width: 100%;
}

.slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  color: #000;
  font: bold 25px monospace;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-btn:hover {
  background-color: #fff;
}

.slider-btn-left {
  left: 10px;
}

.slider-btn-right {
  right: 10px;
}

@font-face {
  font-family: "Tally Text Bold 1";
  src: url(../assets/Tally-Text-Bold-1.ttf);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::after,
*::before {
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
  line-height: 1.5;
  color: #000;
  background-color: #efefef;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  display: block;
}

/************* Clases utilitarias *************/
.none {
  display: none !important;
}

.is-active {
  opacity: 1 !important;
  pointer-events: auto !important;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 3rem 1rem;
}

/* Box shadow */
.shadows {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Subtitulos */
.subtitulo {
  font-size: calc(2rem + 3vw);
  font-family: "Tally Text Bold 1", "Comic Sans", sans-serif;
  font-weight: bold;
  text-align: center;
  margin: 2rem auto;
  padding: 1rem 0;
  border-top: 2px solid #E9B26A;
  border-bottom: 2px solid #E9B26A;
  width: 100%;
}

/************* COMPONENTES *************/
/* Header */
.header-full {
  width: 100%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #E9B26A;
  color: #222;
  padding: 0 1rem;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
}

.header {
  max-width: 1200px;
  height: 4rem;
  margin: 0 auto;
  width: 100%;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header a {
  text-decoration: none;
  color: inherit;
}
.header a:hover {
  color: rgba(255, 255, 255, 0.5);
}

.btn-header {
  outline: 2px solid #222;
  border: none;
  background: none;
  cursor: pointer;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-header svg {
  fill: #222;
}

.header-logo {
  font-family: "Tally Text Bold 1", "Comic Sans", sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

.header-links {
  background-color: #E9B26A;
  position: fixed;
  left: 0;
  top: 4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  transition: opacity 0.3s ease;
  opacity: 0;
  pointer-events: none;
}
.header-links a {
  font-weight: bold;
  font-size: 1.25rem;
  padding: 1rem;
  text-align: center;
  word-wrap: none;
}

@media screen and (min-width: 768px) {
  .btn-header {
    display: none;
  }

  .header-links {
    position: static;
    opacity: 1;
    pointer-events: auto;
    flex-direction: row;
    justify-content: flex-end;
    width: auto;
    height: 4rem;
  }
  .header-links a {
    display: flex;
    align-items: center;
  }
}
/* Botones */
.btn {
  font-family: "Tally Text Bold 1", "Comic Sans", sans-serif;
  text-decoration: none;
  padding: 0.5rem 1rem;
  background: #E9B26A;
  color: #fff;
  border: none;
  border-radius: 2px;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}
.btn:hover {
  background: rgba(255, 181, 69, 0.5);
}

/* Hero */
.hero {
  width: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url(https://img.freepik.com/foto-gratis/textura-fondo-tablero-corcho_133982-10.jpg?w=2000) no-repeat center center;
}

.hero-container {
  max-width: 1200px;
  margin: 0 auto;
  min-height: calc(100vh - 4rem);
  padding: 3rem 1rem;
}

.hero-content {
  position: relative;
  padding: 1rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
}
.hero-content h1 {
  font-size: calc(1.5rem + 2vw);
  font-family: "Tally Text Bold 1", "Comic Sans", sans-serif;
}
.hero-content p {
  font-size: calc(1rem + 1vw);
  margin-bottom: 1.5rem;
  max-width: max(400px, 50%);
}
.hero-content a.btn {
  font-size: 1.5rem;
}

.hero-img {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

/************* Estilos del sitio **************/
/* SOBRE MI */
#acerca {
  background-color: #efefef;
  width: 100%;
}
#acerca > .container {
  display: grid;
  align-items: center;
  min-height: 100vh;
}
#acerca .acerca-foto {
  width: 100%;
  height: auto;
  grid-row: 3/span 1;
}
#acerca .acerca-foto img {
  margin: auto;
}
#acerca .acerca-texto p {
  line-height: 1.5;
  font-size: 1.25rem;
  margin: 2rem 0;
}

/* Servicios */
.work {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.work article {
  background-color: #fef9e7;
  padding: 3rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
}
.work article > i {
  font-size: 2rem;
  color: #E9B26A;
}
.work article > h4 {
  font-size: 1.5rem;
}
.work article > p {
  font-size: 1.125rem;
  line-height: 1.7;
}

@media screen and (min-width: 768px) {
  .hero-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .hero-content {
    grid-column: 1/2;
  }

  .hero-img {
    grid-column: 2/3;
  }

  #acerca > .container {
    grid-template-columns: 50% 45%;
    justify-content: space-evenly;
  }
  #acerca .subtitulo {
    grid-column: span 2;
  }
  #acerca .acerca-foto {
    width: 100%;
    height: auto;
    grid-column: 2/span 1;
    grid-row: initial;
  }
  #acerca .acerca-foto img {
    margin: auto;
  }

  #servicios .container {
    position: relative;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .work {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .work .img-fondo-servicios {
    position: absolute;
    right: -50px;
    bottom: 100px;
    z-index: -1;
    width: 50%;
  }
  .work article {
    width: 45%;
  }
}
@media screen and (min-width: 992px) {
  .work {
    flex-wrap: nowrap;
  }

  #servicios .container {
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }

  .subtitulo {
    grid-column: span 4;
  }
}

/*# sourceMappingURL=style.css.map */
