.footerIndex {
	width: 100%;
	background-color: $third-color;
	color: #000;
	padding-top: 15px;
	display: grid;
	grid-template-columns: 1fr 200px 200px 1fr;
	a {
		color: #000;
		text-decoration: none;
		&:hover {
			opacity: 0.4;
		}
	}
	section {
		margin: 20px;
	}
	.footerLinks {
		display: flex;
		justify-content: center;
		grid-column: 1/2;
		ul{
			margin-left: 0;
		}
		ul li {
			font-family: "Nunito", sans-serif;
			list-style: none;
			font-size: 20px;
		}
	}
	.contact{
		font-family: "Heebo", sans-serif;
		text-align: center;
		grid-column: 2/4;
		h4{
			font-size: 25px;
			font-family: $font-title;
			padding-bottom: 15px;
		}
		.contact-items {
			display: flex;
		 	justify-content: center;
			align-items: center;
			flex-direction: column;
		}
	}
	.social {
		font-family: "Heebo", sans-serif;
		text-align: center;
		grid-column: 4/5;
		.contact-icons {
			display: flex;
			justify-content: center;
			flex-direction: row;
			font-size: 40px;
			gap: .75rem;
		}
		a{
			display: block;
		}
	}
	.copyRight {
		text-align: center;
		font-family: "Heebo", sans-serif;
		grid-column: 1/5;
	}
}
@media screen and (max-width: 780px) {
	.footerIndex {
		grid-template-columns: 1fr 1fr;
		.footerLinks{
		  grid-column: 1/2;
		  display: flex;
		  justify-content: center;
		  a{
			  padding-left:35px;
			}
		}
		.contact {
			grid-column: 2/3;
		}
		.social {
		  grid-column: 1/3;
	  }
		.copyRight {
		  grid-column: 1/3;
		}
	  }    
}
@media screen and (max-width: 500px) {
    .footerIndex {
      grid-template-columns: 1fr;
      .footerLinks{
        grid-column: 1;
        display: flex;
        justify-content: center;
        a{
            padding-left:35px;
          }
      }
	  .contact {
		  grid-column: 1;
	  }
      .social {
        grid-column: 1;
	}
      .copyRight {
        grid-column: 1;
      }
    }  
}
