@import "variables";
.container-slider{
	display: flex;
	justify-content: center;
	align-items: center;
	.container-testimonials{
		width: 400px;
		height: 250px;
		background-color: #fef9e7;
		margin: 20px;
		border-radius: 10px;
		padding: 15px;
		.fa-quote-left {
			color: $first-color;
		}
		p {
			padding: 5px 10px 24px;
			text-align: center;
		}
		h6 {
			font-family: $font-title;
			font-size: 20px;
		}
	}
}

/* Testimonios */
#testimonios{
	overflow: hidden;
	margin-bottom: 30px;
	.testimonios {
		display: grid;
		grid-template-columns: 1fr auto;
	}
	.img-slider {
		width: 400px;
	}
}
.container-slider{
	width: 100%;
	max-width: $max-width;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}
.slider{
	display: flex;
	width: 1400%;
	height: 300px;
	margin-left: -100%;
}
.slider-section{
	width: 100%;
}
.slider-btn{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: $white-alpha-color;
	color: #000;
	font: bold 25px monospace;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}
.slider-btn:hover{
	background-color: $white-color;

}
.slider-btn-left{
	left: 10px;
}
.slider-btn-right{
	right: 10px;
}
@media screen and (max-width: 992px) {
	.testimonios {
		.container-slider{
			grid-column: 1/3;
		}
		.img-slider {
			display: none;
		}
	}
}