$first-color: #FFB545;
$second-color: #2CC0FF;
$white-color: #fff;
$black-color: #000;
$gray-color: #ccc;
$light-gray-color: #eee;
$dark-gray-color: #999;
$white-alpha-color: rgba(255, 255, 255, 0.5);
$black-alpha-color: rgba(0, 0, 0, 0.5);

$font-family: 'Open Sans', sans-serif;
$font-title: 'Open Sans', sans-serif; // cambiar cuando se tenga la fuente

$fs1: 4rem;
$fs2: 2rem;
$fs3: 1.5rem;
$fs4: 1.25rem;
$fs5: 1rem;
$fs6: 0.875rem;
$fs7: 0.75rem;

$max-width: 1200px;